.table-perfil {
    margin: 0px 10px 0px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: linear-gradient(to top, rgb(29, 87, 110), rgb(44, 144, 184));
    transition: transform 0.2s ease-in-out;
  }

  .table-perfil:hover {
    transform: scale(1.05);
  }

  .tr-table{
    border-bottom: white 1px solid;
  }

/* Clase personalizada para aplicar el degradado */
.gradient-table {
  --bs-table-bg: none;
  background: linear-gradient(to bottom,  #7ee8c3, rgb(90, 211, 155));
  font-size: 1em; /* Tamaño de fuente para agrandar el texto */
  color: #ebca6d; /* Cambia el color del texto a blanco */
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 10px; /* Añade un poco de espacio de relleno para mejorar la apariencia */
  margin: 0px 10px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0px 0px;
  transition: transform 0.2s ease-in-out;
  font-weight: bold; /* Agrega negrita al texto */
  border: none
}



.gradient-table tr{
  border: none;
}

.gradient-table td{
  border: none;
}

.gradient-table th{
  border: none;
}

@media (max-width: 850px){
  .td-cantidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
  }
}

@media (max-width: 576px){
  .gradient-table{
    font-size: 10px;
  }

  .btn-table{
    padding: 5px;
  }

  .mas{
    padding: 3px;
  }

  .td-eliminar{
    padding: 0 !important;
  }
}