/* Estilos para la clase "cardDetail" */
.cardDetail {
    display: flex;
    flex-direction: row;
  }


  .super_cardDetail{
    margin: 0px 10px 0px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: linear-gradient(to top, rgb(29, 87, 110), rgb(2, 30, 41));
    transition: transform 0.2s ease-in-out;
  }

  .super_cardDetail:hover{
    transform: scale(1.05);
  }

.cardImg{
    width: 200px;
}

@media (max-width: 800px) {
    .cardDetail{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 470px) {
    .cardImg{
        width: 100%;
    }
}