.inactive .custom-button{
  background-color: black;
}

.isactive .custom-button{
  background-color: #295b6fff;
}

.custom-button:hover {
  transform: scale(1.05);
}

.navbar-logo{
  align-items: flex-start !important;
  justify-content: space-around !important;
}

.nav-btn {
    display: none;
  }
  
@media (max-width: 890px) {
  .div-fabars {
    display: flex;
    justify-content: center;
  }
 
  .nav-btn {
    display: flex;
    align-items: end;
    background-color: #295b6fff;
    color: #ebca6d;
    border: none;
    font-size: 24px;
  }

  .nav-btn:hover{
    background-color: #295b6fff;
  }

  .nav-buttons {
    display: none;
  }

  .nav-buttons.active {
    display: flex;
    flex-direction: column;
  }

  .navbar-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-btn{
    justify-content: center;
    flex-direction: column;
  }
}
  